Tutorial/Connected Services/UsuariosSR/Usuarios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TutorialAPI.EDM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TutorialAPI.EDM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUSUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USUARIOS" nillable="true" type="tns:USUARIOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSUARIOS" nillable="true" type="tns:ArrayOfUSUARIOS" />
  <xs:complexType name="USUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATA_EXCLUSAO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATA_NASCIMENTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NOME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SENHA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUARIOS" nillable="true" type="tns:USUARIOS" />
</xs:schema>